services:
  postgres:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: postgres-ba
    env_file:
      - .env.local
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql
